.modal {
  max-width: 100%;
  margin: 1.2rem;
}
.modal-body {
  word-break: break-word;
}
.badge {
  background-color: var(--primary-color);
}
.dark span.badge {
  color: var(--black);
}
.tag-section {
  margin: 0.4rem 0.4rem;
  padding: 0.4rem;
}
.modal-footer {
  margin: 0.4rem;
  padding: 0.2rem;
  display: flex;
}
.modal-btn {
  padding: 0.4rem 0.4rem;
  cursor: pointer;
  margin: 0.4rem;
  border: 1px solid var(--secondary-color);
}
.modal-btn:hover {
  background-color: var(--primary-color);
}
.date-section {
  margin: 0.8rem auto 0.4rem auto;
}

.line {
  border-top: 2px solid var(--primary-color);
}
.main-note-content {
  min-height: 4rem;
}
.date-section,
.tag-section {
  font-size: 1rem;
}

.btn-color-palette {
  display: inline-block;
}
.color-palette {
  position: absolute;
  border-radius: 8px;
}

.crimson-background {
  background-color: var(--crimson);
}
.purple-background {
  background-color: var(--purple);
}
.blue-background {
  background-color: var(--blue);
}
.green-background {
  background-color: var(--green);
}
.yellow-background {
  background-color: var(--yellow);
}
