@import url("./variables.css");

/* Dark mode */
.dark {
  background-color: var(--dark-theme-background);
  color: var(--white);
}

a {
  color: var(--black);
}

.dark a {
  color: var(--white);
}

.container {
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "aside main";
  overflow: auto;
}

.navigation-bar {
  background: rgba(255, 255, 255, 1);
}

.side-section {
  grid-area: aside;
  top: 4.2rem;
  position: fixed;
  bottom: 0;
}

.content-section {
  grid-area: main;
  overflow-y: scroll;
  max-width: 100%;
  justify-content: center;
  margin: auto;
}

/* Hiding Scrollbar for Chrome, Safari and Opera */
.content-section::-webkit-scrollbar,
.side-section::-webkit-scrollbar {
  display: none;
}
/* Hiding scrollbar for IE, Edge and Firefox */
.content-section,
.side-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.note-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.8rem;
  margin: 0.8rem 1.2rem;
  justify-content: center;
}

/* Button */
.note-button {
  background: transparent;
  padding: 0.4rem 1.2rem;
  border-radius: 8px;
  margin: 1.2rem;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.dark .note-button {
  color: var(--white);
}

.note-button:hover {
  opacity: 0.8;
}

/* Link */
.link {
  text-decoration: underline;
}

/* Error messages */
.error__msg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--crimson);
}

/*mobile sidebar background overlay */
.background-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--white);
  width: 12rem;
}

.dark .mobile-sidebar {
  background-color: var(--dark-theme-background);
  color: var(--white);
}

/* Media queries */
@media only screen and (max-width: 770px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
  .side-section {
    display: none;
  }
  .content-section {
    max-width: 80%;
    margin: auto;
  }
}
