:root {
  --primary-color: #e8cfc1;
  --secondary-color: #ce6857;
  --darker-brown-shade: #523e27;
  --dark-theme-background: #1a202c;
  --light-grey: #ededed;
  --white: #ffffff;
  --black: #000000;
}
