:root {
  --primary-color: #e8cfc1;
  --secondary-color: #ce6857;
  --darker-brown-shade: #523e27;
  --dark-theme-background: #1a202c;
  --light-grey: #ededed;
  --white: #ffffff;
  --black: #000000;
  --crimson: #dd0c4fdb;
  --purple: #d00cdd91;
  --blue: #6050dcbd;
  --green: #68d391c7;
  --yellow: #ff9900ab;
}
