@import url("../../styles/style.css");

.input-modal-body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark .input-modal .modal-head,
.dark .input-modal .modal-body {
  color: var(--black);
}
div.input-modal {
  margin: auto;
  max-width: 60%;
  background-color: var(--white);
}
.modal-head {
  text-align: left;
  padding: 0.8rem;
}
.input-tag {
  padding: 0 0.8rem 0 0.2rem;
}
