@import url("../../styles/style.css");

.lst-container {
  border: transparent;
}

a.active {
  background-color: var(--primary-color);
  border-radius: 0 8px 8px 0;
  padding: 0.4rem 1.8rem;
}
.lst-container .lst:hover {
  background-color: var(--primary-color);
  border-radius: 0 8px 8px 0;
  padding: 0.4rem 1.8rem;
}

.dark a.active,
.lst-container .lst:hover {
  color: var(--black);
}
